<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaNotes - Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin-bottom: 60px;
            background-image: url(https://lh3.googleusercontent.com/pw/ADCreHcPBG-Ewb53gO8UI1tDugnJfYzgF7rkRbADDv8rPp8nf-JQlJXpzMBELQtb4A7z4-cGJqa8cBxoevjVAXCOlBhbfXpM77y_pb5MHHGq-yQYy0KuGwcYy6rOYdSEF-bV6K3AV-g5PYzaa2uuWIU-K1ik=w1205-h924-s-no?authuser=0);
            background-size: cover;
            background-repeat: no-repeat;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 140px; /* Set the height of your footer here */
        }
        #iconimg{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    </style>
</head>
<body>